<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
<h1>users</h1>

<table>
    <tr >
        <th>Id</th>
        <th>name</th>
        <th>age</th>
        <th>telephoneNumber</th>
        <th>email</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each = "user: ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.telephoneNumber}"></td>
        <td th:text="${user.email}"></td>
        <td><a th:href="@{/users/update-user/{id}(id=${user.id})}"><input type="submit" value="update user"></a></td>
        <td><a th:href="@{/users/delete-user/{id}(id=${user.id})}"><input type="submit" value="delete user"></a></td>

    </tr>
</table>

<br>
<br>
<a href = "/users/add-user"> Add new user</a>
</body>
</html>